@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


*{
    /*margin: 0px;
    padding: 0px;*/
    box-sizing: border-box;
    font-family: "MuseoModerno", sans-serif;
}

#menu-icon {
    font-size: 3.6rem;
    color: aqua;
    cursor: pointer;
    display: none;
}

body {
    background-color: #145da0;
    color: aliceblue;
    margin-top: 100px;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    background-color: #2273be;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    display: inline-block;
    
}

.navbar a:hover {
    color: aqua;
} 

#portfolio {
    padding-top: 5%;
    padding-bottom: 0;
    padding-left: 7%;
    padding-right: 7%;
    background: #145da0;
    
    
  }
  
  .portfolio-initial-text h1 {
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 1rem;
    text-align: center;
  }

  .portfolio-initial-text p {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-family: "Fredoka", sans-serif;
  }

  
  .portfolio-projects {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 160px;
  }
  
  .box {
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 30px;
    margin-right: 30px;
    
  }
  
  .box img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    margin-bottom: 16px;

  }
  
  .box:hover img {
    transform: scale(1.1);
    transition: all 0.30s;
  }
  
  .box h2 {
    margin-bottom: 8px;
    color: aqua;
  }

  .box p {
    font-family: "Fredoka", sans-serif;
   text-align: left;
  }

 

  footer {
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
}





/*SMARTPHONE*/
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .portfolio-initial-text p {
        font-size: 15px;
    }

    .portfolio-projects p {
        font-size: 18px;
        text-align: justify;
    }

}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .portfolio-initial-text p {
        font-size: 15px;
    }

    .portfolio-projects p {
        font-size: 18px;
        text-align: justify;
    }

    footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: #145da0;
        
    }
    

    .portfolio-projects p {
        font-size: 18px;
        text-align: justify;
    }

    .portfolio-initial-text h1 {
        margin-top: 30px;
    }
    
    .portfolio-initial-text p {
        font-size: 15px;
    }

    #menu-icon {
        display: block;
    }


    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background-color: aqua;
        box-shadow: 0 .5rem 1rem black;
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
        background: #145da0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #145da0;
        border-top: .1rem solid black;
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }


}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    footer {
        flex-direction: column-reverse;
    }

    footer p{
        text-align: center;
        
    }

    .btn-box .btn{
        width: 175px;
        height: 50px;
        display: flex;
        position: relative;
        align-items: center;
        font-size: 20px;
    }

}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }
    
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .btn-box .btn{
        width: 125px;
        height: 50px;
        display: flex;
        position: relative;
        align-items: center;
        font-size: 15px;
    }
}